---
import Page from '../layouts/page.astro';
---

<Page title="404">
	<main>
		<h1>Welcome to <span class="app-name">Astro</span></h1>
		<h3 class="instructions">404</h3>
	</main>
</Page>

<style>
	
</style>
